<%- include("header") -%>


<form action="/venues/<%=venueName%>/creategig" method="post">
  <div class="form-group">
    <label>New Gig at <%= venueName %></label>
    <input type="date" class="form-control" name="newGigDate" value="" placeholder="Date">
    <input type="text" class="form-control" name="newGigGenre" value="" placeholder="Genre">
    <button type="submit" class="btn btn-primary" name="button">Create Gig</button>
  </div>
</form>


<%- include("footer") -%>
