<%- include("header") -%>

<form action="/newband" method="post">
  <div class="form-group">
    <label>New Band</label>
    <input type="text" class="form-control" name="newBandName" value="" placeholder="Band Name">
    <input type="text" class="form-control" name="newBandGenre" value="" placeholder="Genre">
    <input type="text" class="form-control" name="newBandWebsite" value="" placeholder="Website">
    <input type="text" class="form-control" name="newBandEmail" value="" placeholder="Email">
    <input type="text" class="form-control" name="newBandMusic" value="" placeholder="Link to Music">
    <textarea name="newBandAbout" rows="8" cols="80" placeholder="About"></textarea>
    <button type="submit" class="btn btn-primary" name="button"></button>
  </div>
</form>





<%- include("footer") -%>
